.AboutYou {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

/* .Form {
  column-count: 2;
  column-rule: dotted 1 px #333;
  list-style-type: none;
} */

/* css for the forms to set them column formation */